{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Dwight Admin</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="{% static 'css/style.min.css' %}" rel="stylesheet">

  <!-- JQuery -->
  <script type="text/javascript" src="http://ovecrm.developersoptimal.com/assets/js/jquery-3.3.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.min.js'%}"></script>
    <style>
      {% block style %} {% endblock style %}

      .map-container{
          overflow:hidden;
          padding-bottom:56.25%;
          position:relative;
          height:0;
      }
      .map-container iframe{
          left:0;
          top:0;
          height:100%;
          width:100%;
          position:absolute;
      }
    </style>
</head>

<body class="grey lighten-3">

  <!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar">
      <div class="container-fluid">
        <div class="float-left">
    <!-- SideNav slide-out button -->
    <a href="javascript:void(0);" data-activates="slide-out" class="button-collapse" style="margin-left:0px;"><i class="fas fa-bars"></i></a><span class="sr-only" aria-hidden="true">Toggle side navigation</span></a>
  </div>
        <!-- Links -->
          <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle waves-effect" href="#" id="userDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i> <span class="clearfix d-none d-sm-inline-block">Profile</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">

                    <a class="nav-link logout" href="{% url 'admin_logout' %}">
                          Logout
                          </a>
              </div>
            </li>
          </ul>

      </div>
    </nav>
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed fixed">

      <a class="logo-wrapper waves-effect">
        <img src="https://i.ibb.co/7JGXBP9/brand-Logo.png" class="img-fluid" alt="">
      </a>

      <div class="list-group list-group-flush">
        <a href="{% url 'admin_index' %}" class="list-group-item {% if dashboard %} active {% endif %} list-group-item-action waves-effect">
          <i class="fas fa-chart-pie mr-3"></i>Dashboard
        </a>

        <a href="{% url 'admin_category' %}" class="list-group-item {% if category %} active {% endif %} list-group-item-action waves-effect">
          <i class="fas fa-user mr-3"></i>Category</a>
        <a href="{% url 'admin_material' %}" class="list-group-item {% if admin_material %} active {% endif %} list-group-item-action waves-effect">
          <i class="fas fa-user mr-3"></i>Material</a>
        <a href="{% url 'admin_list_size' %}" class="list-group-item {% if Size %} active {% endif %} list-group-item-action waves-effect">
          <i class="fas fa-user mr-3"></i>Size</a>

        <a href="{% url 'admin_product' %}" class="list-group-item {% if products %} active {% endif %} list-group-item-action waves-effect">
          <i class="fas fa-user mr-3"></i>Products</a>

        {% comment %} <a href="{% url 'admin_product_image' %}" class="list-group-item {% if productimage %} active {% endif %} list-group-item-action waves-effect">
          <i class="fas fa-user mr-3"></i>Products Images</a> {% endcomment %}

        <a href="{% url 'admin_orders' %}" class="list-group-item {% if orders %} active {% endif %} list-group-item-action waves-effect">
          <i class="fas fa-user mr-3"></i>Orders</a>

<!--        <a href="{% url 'admin_coupons' %}" class="list-group-item {% if coupons %} active {% endif %} list-group-item-action waves-effect">-->
<!--          <i class="fas fa-table mr-3"></i>Promo Codes</a>-->

<!--        <a href="{% url 'admin_payment' %}" class="list-group-item {% if payment %} active {% endif %} list-group-item-action waves-effect">-->
<!--          <i class="fas fa-money-bill-alt mr-3"></i>Payments</a>-->

        {% comment %} {% if request.user.role == "admin" %}
        <a href="{% url 'admin_variations' %}" class="list-group-item {% if variations %} active {% endif %} list-group-item-action waves-effect">
          <i class="fas fa-money-bill-alt mr-3"></i>Variations</a>
        {% endif %} {% endcomment %}

        {% comment %} <a href="{% url 'admin_home_configuration' %}" class="list-group-item {% if home_configuration %} active {% endif %} list-group-item-action waves-effect">
          <i class="fas fa-money-bill-alt mr-3"></i>Home Configuration</a> {% endcomment %}


        {% if request.user.role == "admin" %}
        <a href="{% url 'admin_users' %}" class="list-group-item {% if workers %} active {% endif %} list-group-item-action waves-effect">
          <i class="fas fa-money-bill-alt mr-3"></i>Workers</a>
        {% endif %}
        {% if request.user.role == "admin" %}
          <a href="{% url 'menu_list' %}" class="list-group-item {% if menu %} active {% endif %} list-group-item-action waves-effect"><i class="fas fa-money-bill-alt mr-3"></i>Page Manager</a>
        {% endif %}

        {% if request.user.role == "admin" %}
        <div class="dropdown">
          <button class="btn {% if home_configuration %} btn-primary {% endif %} dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
            <i class="fas fa-money-bill-alt mr-3"></i> Configuration
          </button>
          <br/>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
           <!-- <a class="dropdown-item" href="{% url "admin_home_config" %}">Home Management</a>-->
            <a class="dropdown-item" href="{% url "admin_service" %}">Service Management</a>
            <a class="dropdown-item" href="{% url "admin_slider_config" %}">Slider Management</a>
            <a class="dropdown-item" href="{% url "admin_banners_config" %}">Banner Management</a>
            <a href="{% url 'admin_logo' %}" class="dropdown-item">Logo Management</a>
            <a class="dropdown-item" href="{% url "admin_contactenq_config" %}">ContactEnquiry Report</a>
            <a class="dropdown-item" href="{% url "admin_emailsubscriber_config" %}">EmailSubscriber Report</a>
            <a class="dropdown-item" href="{% url "admin_productenq_config" %}">ProductEnquiry Report</a>
            <a class="dropdown-item" href="{% url 'currency_list' %}">Currency</a>
            <a class="dropdown-item" href="{% url 'product_config' %}">Product Per Page</a>
            <a class="dropdown-item" href="{% url 'payment_config' %}">Payment Configuration</a>

          </div>
        {% endif %}
      </div>

    </div>
    <!-- Sidebar -->

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="pt-5 mx-lg-5">
    {% block content %}{% endblock %}
  </main>
  <!--Main layout-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js'%}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  <!-- Initializations -->
<!--  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.min.js"></script>-->
    <!--Main layout-->
  <!--/.Footer-->
  <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
  <script type="text/javascript">
    $(".button-collapse").sideNav();
    var el = document.querySelector('.sidebar-fixed');
    var ps = new PerfectScrollbar(el);
  </script>
  {% block script %} {% endblock script %}
  <script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpbh'},{'server':'sg3plvcpnl357299'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>
</body>
</html>
