{% extends 'main/base.html' %}
{% block content %}

<div class="container-fluid mt-5">
    <div class="row wow fadeIn">
        <div class="col-md-12 mb-4">
            <!--Card-->
            <div class="card">
                <!--Card content-->
                <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Size Management</h3>
                <div class="card-body">
                    {% if messages %}
                            {% for message in messages %}
                           <div class="alert alert-success alert-dismissible fade show">
                                <strong>Success!</strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                            {% endfor %}
                        {% endif %}
                    <!-- Table  -->
                    <a href="{% url 'admin_new_size' %}" class="btn btn-primary float-right">Add New Size</a>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-center">
                            <!-- Table head -->
                            <thead class="blue-grey lighten-4">
                            <tr>
                                <th>S.no</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for i in size_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.size_name}}</td>
                                <td>
                                    <a href="{% url 'admin_size_update' pk=i.id %}" class="text-primary mr-2">
                                      <i class="fa fa-edit"></i></a>
                                <span class="table-remove">
                                  <a href="{% url 'admin_delete_size' id=i.id %}" class="text-danger"
                               onclick="return confirm('Are you sure you want to delete this item?');">
                                      <i class="fa fa-trash"></i></a>
                                </span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <!-- Table body -->
                        </table>
                        <!-- Table  -->
                    </div>

                    {% if size_list.has_other_pages %}
                    <ul class="pagination">
                        {% if size_list.has_previous %}
                        <li class="page-item"><a href="?page={{ size_list.previous_page_number }}"><span
                                class="page-link">Previous</span></a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                        {% endif %}

                        {% for i in size_list.paginator.page_range %}
                        {% if size_list.number == i %}
                        <li class="page-item active" aria-current="page">
                          <span class="page-link">
                            {{ i }}
                          </span>
                        </li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if size_list.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ size_list.next_page_number }}">Next</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <!--/.Card-->
        </div>
    </div>
</div>
{% endblock %}