{% extends 'main/base.html' %}
{% load static %}
{% block style %}
.error {
color: #ff0000;
}
{% endblock style %}
{% block content %}
<div class="container-sm mt-5" style="padding: 1em">
    <div class="card">
        <div class="card-header text-center"><h4>{% if menu.id %} Edit {% else %} Add {% endif %} New Page/Menu</h4></div>
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <p class="text-danger">{{message }}</p>
        {% else %}
            <p class="text-success">{{message }}</p>
        {% endif %}
        {% endfor %}
        <div class="card-body">
            <form method="post" action="{% url 'admin_footer' %}" id="footer_navbar">
                {% csrf_token %}
                <!--
                <div class="form-group">
                    <label for="name">Page Name <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" name="name" id="name" value="{{ menu_obj.page_name }}">
                </div>
                -->
               <div class="form-group">
                    <label for="menu_title">Page Title <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="menu_title" id="menu_title" value="{{ menu_obj.menu_title }}">
                </div>
              <!--  <div class="form-group">
                    <label for="menu_url">Menu Url <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="menu_url" id="menu_url" value="{{ menu_obj.menu_url }}">
                </div>
                -->
                <input type="hidden" class="form-control" name="menu_id" id="menu_id" value="{{ menu_obj.id }}">
                <div class="form-group">
                    <label for="menu_content">Description <span class="text-danger">*</span></label>
                    <textarea name="menu_content" id="menu_content">{{ menu_obj.content }}</textarea>
                </div>

                <div class="form-group mt-2">
                    <label for="is_footer">Show on Footer(Yes/No)</label>
                    <input type="checkbox" class="ml-5" name="is_footer" value="1" id="is_footer" {% if menu_obj.is_footer %} checked {% endif %}>
                </div>
                <div class="form-group mt-2" id="footer_type" style="display: {% if menu_obj.is_footer %} block {% else %} none {% endif %}">
                    <select name="footer_type" class="form-control">
                        {% for key, val in footer_type %}
                            <option value="{{key}}" {% if menu_obj.footer_type == key %} selected {% endif %}>{{val}}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" class="btn btn-success" name="submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
  <script type="text/javascript" src="{% static 'js/jquery.validate.min.js'%}"></script>

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script type="text/javascript" src="{% static 'js/footer.js' %}"></script>
{% endblock script %}