{% extends 'main/base.html' %}
{% load static %}
{% block style %}
.error {
color: #ff0000;
}
{% endblock style %}
{% block content %}
<div class="container-sm mt-5" style="padding: 1em">
    <div class="card">
        <div class="card-header text-center"><h4>{% if currency.id %} Edit {% else %} Add {% endif %} New Currency</h4></div>
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <p class="text-danger">{{message }}</p>
        {% else %}
            <p class="text-success">{{message }}</p>
        {% endif %}
        {% endfor %}
        <div class="card-body">
            <form method="post" action="{% url 'currency_add' %}" id="currency_form" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="form-group">
                    <label for="currency_name">Currency Name <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" name="currency_name" id="currency_name" value="{{ currency.name }}">
                </div>
<!--                 <div class="form-group">-->
<!--                    <label for="country_name">Country Name <span class="text-danger">*</span> </label>-->
<!--                    <select class="form-control" name="country_name" id="country_name">-->
<!--                        {% for country in country_list %}-->
<!--                            {% if country.id == currency.country.id %}-->
<!--                            <option value="{{ country.id }}" selected>{{ country.name }}</option>-->
<!--                            {% else %}-->
<!--                            <option value="{{ country.id }}">{{ country.name }}</option>-->
<!--                        {% endif %}-->
<!--                        {% endfor %}-->
<!--                    </select>-->
<!--                </div>-->
                 <div class="form-group">
                    <label for="conversion_rate">Conversion Rate  <span class="text-danger">*</span> </label>
                    <input type="number" class="form-control" min="1" name="conversion_rate" id="conversion_rate" value="{{ currency.conversion_rate }}">
                </div>
               <div class="form-group">
                    <label for="currency_icon">Currency Icon <span class="text-danger">*</span></label>
                    <input type="file" class="form-control" name="currency_icon" id="currency_icon" accept=".png, .jpg, .jpeg, .gif">
                   <input type="hidden" class="form-control" name="currency_id" id="currency_id" value="{{ currency.id }}">
               </div>
                {% if currency.id %}
                <img src="{{MEDIA_URL}}/media/{{currency.icon}}" width="60" height="60">
                {% endif %}


                <div class="form-group mt-2">
                    <label for="is_active">Active (Yes/No)</label>
                    <input type="checkbox" class="ml-5" name="is_active" value="1" id="is_active" {% if currency.is_active %} checked {% endif %}>
                </div>
                <input type="submit" class="btn btn-success" name="submit">
                <a href="{% url 'currency_list' %}" class="btn btn-primary">Back</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
  <script type="text/javascript" src="{% static 'js/jquery.validate.min.js'%}"></script>

<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script type="text/javascript" src="{% static 'js/footer.js' %}"></script>
{% endblock script %}