{% extends 'main/base.html' %}
{% block content %}

<div class="container-fluid mt-5">
    <div class="row wow fadeIn">
        <div class="col-md-12 mb-4">
            <!--Card-->
            <div class="card">
                <!--Card content-->
                <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Currency Management</h3>

                <div class="card-body">
                    {% if messages %}
                            {% for message in messages %}
                           <div class="alert alert-success alert-dismissible fade show">
                                <strong>Success!</strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                            {% endfor %}
                        {% endif %}
                    <!-- Table  -->
                    <a href="{% url 'currency_add' %}" class="btn btn-primary float-right">Add New Currency</a>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-center">
                            <!-- Table head -->
                            <thead class="blue-grey lighten-4">
                            <tr>
                                <th>S.no</th>
                                <th>Name</th>
                                <th>Icon</th>
                                <th>Is Active</th>
                                <th>Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for i in currency_list_obj %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.name}}</td>
                                <td><img src="{{MEDIA_URL}}/media/{{i.icon}}" width="60" height="60"></td>
                                <td>{% if i.is_active %} Yes {% else %} No {% endif %}</td>
                                <td>
                                <span class="table-remove">
                            {% if request.user.role == "admin" %}
                                    <a href="{% url 'currency_edit' pk=i.id %}" class="text-primary"><i class="fa fa-edit"></i></a>
                            {% endif %}
                          </span>
                                    <span class="table-remove pl-2">
                            {% if request.user.role == "admin" %}
                                        <a href="{% url 'currency_delete' pk=i.id %}" class="text-danger" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash"></i></a>
                            {% endif %}
                          </span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <!-- Table body -->
                        </table>
                        <!-- Table  -->
                    </div>

                    {% if currency_list_obj.has_other_pages %}
                    <ul class="pagination">
                        {% if currency_list_obj.has_previous %}
                        <li class="page-item"><a href="?page={{ currency_list_obj.previous_page_number }}"><span
                                class="page-link">Previous</span></a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                        {% endif %}

                        {% for i in currency_list_obj.paginator.page_range %}
                        {% if currency_list_obj.number == i %}
                        <li class="page-item active" aria-current="page">
                          <span class="page-link">
                            {{ i }}
                          </span>
                        </li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if currency_list_obj.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ currency_list_obj.next_page_number }}">Next</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <!--/.Card-->
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>

</script>
{% endblock %}