{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: #f8f8f8;
      }
      .error{
        display:none;
        color:red
      }
    </style>

    <div class="container-sm" style="padding: 1em">
      <div class="card">
        <div class="card-header text-center"><h4>{{title}}</h4></div>
        <div class="card-body">
          <form id="productForm">
            <div class="mb-3">
              <label for="title" class="form-label">Title<span class="text-danger">*</span></label>
              <input type="text" class="form-control"
                     value="{{logo_obj.title}}"
                     id="title" required/>
              <input type="hidden" value="{{logo_obj.id}}" id="id">
                <label id="logo_title" class="error" for="logo_title">Please enter logo title</label>
            </div>
              <div class="mb-3">
                    <label for="menu_content">Description <span class="text-danger">*</span></label>
                    <textarea name="description" id="menu_content">{{logo_obj.description}}</textarea>
                     <label id="logo_desc" class="error" for="logo_desc">Please enter description</label>
                </div>

            <div class="mb-3">
                {% if logo_obj.logo %}
                Logo: Currently: <a href="{{logo_obj.logo.url}}" class="mb-2" target="_blank">{{logo_obj.logo}}</a><br>
                <label for="main_logo" class="form-label">Change:</label>
                {% else %}
                <label for="main_logo" class="form-label">Logo<span class="text-danger">*</span></label>
                {% endif %}
              <input class="form-control" type="file" id="main_logo" accept=".png, .jpg, jpeg" required/>

                <label id="logo_image" class="error" for="logo_image">Please select logo</label>
            </div>
            <button class="btn btn-primary" id="submit_btn_form">Submit</button>
            <a href="{% url 'admin_logo' %}" class="btn btn-primary" id="back_btn">Back</a>
          </form>
        </div>
      </div>
    </div>

    <!-- Submitting the Form to api -->
    <script>
      document
        .getElementById("submit_btn_form")
        .addEventListener("click", async function (e) {
          e.preventDefault();
          const title = document.getElementById("title").value;
          var desc = CKEDITOR.instances.menu_content.getData();
          var id = document.getElementById("id").value;
          const logo = document.getElementById("main_logo").files[0];
          var error_count =0
          if(title==''){
            document.getElementById("logo_title").style.display = "block";
            error_count=1

          }
          else if(title!=''){
           document.getElementById("logo_title").style.display = "none";

          }
           if(desc==''){
            document.getElementById("logo_desc").style.display = "block";
            error_count=1

          }
          else if(desc!=''){
           document.getElementById("logo_desc").style.display = "none";

          }
          if(error_count==1){
           return false;
          }
          const formData = new FormData();
          formData.append("logo", logo);
          formData.append("title", title);
          formData.append("description", desc);





          if (id){
              await axios.post(
                 `/admin/edit-logo/${id}/`,
                 formData,
                 { headers: { "Content-Type": "multipart/form-data" } }
              ).then(resp=>{
                if(resp.status){
                  window.location.replace("{% url 'admin_logo' %}")                }
              })
          } else {
          await axios.post(
             "{% url "admin_new_logo" %}",
             formData,
             { headers: { "Content-Type": "multipart/form-data" } }
          ).then(resp=>{
            if(resp.status){
              window.location.replace("{% url 'admin_logo' %}")
            }
          })
        }
      });
    </script>
    <!-- End -->
{% endblock %}


{% block script %}
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script type="text/javascript" src="{% static 'js/footer.js' %}"></script>
{% endblock script %}