{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: #f8f8f8;
      }
      .error{
        display:none;
        color:red
      }
    </style>
  </head>
  <body>
    <br><bR>
    <div class="container-sm" style="padding: 1em">
      <div class="card">
        <div class="card-header text-center"><h4>New Product</h4></div>
        <div class="card-body">
          <form id="productForm">
            <div class="mb-3">
              <label for="p_name" class="form-label">Product Name</label>
              <input type="text" class="form-control" id="p_name" required="required" />
              <label id="prod_error" class="error" for="prod_error">Please enter Product name</label>
            </div>
            <div class="mb-3">
              <label for="menu_content" class="form-label">Product Description</label>
              <textarea name="p_description" id="menu_content"></textarea>
              <label id="prod_desc" class="error" for="prod_desc">Please enter Product Description</label>
            </div>
            <div class="mb-3">
              <label for="p_categ" class="form-label">Category</label>
              <select
                class="form-select-lg form-control"
                id="p_categ"
                aria-label="Default select example"
               required="required" >
                <option selected>----</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="p_unit_price" class="form-label">Unit Price</label>
              <input type="number" class="form-control" id="p_unit_price" required="required"/>
                <label id="prod_unit_price" class="error" for="prod_unit_price">Please enter Unit Price</label>
            </div>

            <div class="mb-3">
              <label for="p_discount_price" class="form-label"
                >Discount Price</label
              >
              <input type="number" class="form-control" id="p_discount_price" required="required"/>
               <label id="prod_disc_price" class="error" for="prod_disc_price">Please enter Discount Price</label>
            </div>

            <div class="mb-3">
              <label for="p_unit_in_stock" class="form-label"
                >Unit in stock</label
              >
              <input type="number" class="form-control" id="p_unit_in_stock" required="required"/>
              <label id="prod_unit_num" class="error" for="prod_unit_num">Please enter Unit in Stock</label>
            </div>

            <div class="mb-3">
              <label for="p_logo" class="form-label">Logo</label>
              <input class="form-control" type="file" id="p_logo" required/>
            </div>

            <div class="mb-3">
              <label for="p_images" class="form-label">Images</label>
              <input class="form-control" type="file" id="p_images" multiple required/>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col-md-6">
                  <label for="variation_name">Variation Name</label>
                  <input type="text" id="variation_name" class="form-control" required/>
                   <label id="prod_variation" class="error" for="prod_variation">Please enter variation </label>
                </div>
                <div class="col-md-6">
                  <label for="variation_qty">Variation Quantity</label>
                  <input type="text" id="variation_qty" class="form-control" required/>
                  <label id="prod_variation_qty" class="error" for="prod_variation_qty">Please enter variation quantity </label>
                </div>
              </div>
            </div>
            <!--
            <div class="mb-3">
              <div class="row" id="item-box0">
                <div class="col-md-4">
                  <label for="item_name" class="form-label">Item</label>
                  <input
                    type="text"
                    class="form-control item_name"
                    id="item_name"
                    aria-describedby="emailHelp"
                    required
                  />
                </div>
                <div class="col-md-4">
                  <label for="item_qty" class="form-label">Qty.</label>
                  <input
                    type="text"
                    class="form-control item_qty"
                    id="item_qty"
                    aria-describedby="emailHelp"
                    required
                  />
                </div>
                <div class="col-md-4 d-flex align-items-end">
                  <button
                    type="button"
                    class="btn btn-danger"
                    onclick="duplicate()"
                  >
                    Add
                  </button>
                  <button
                    type="button"
                    class="btn btn-warning ml-3 remove-btn"
                    onclick="this.parentNode.parentNode.remove()"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </div>
            -->
            <button class="btn btn-primary" id="submit_btn_form">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Getting Product Category Data from api on page load -->
    <script>
      let abc = getCategoryData();
      window.onload = abc;

      //   Calling Api
      function getCategoryData() {
        axios
          .get("{% url "category_website" %}")
          .then((response) => {
            const categories = response.data;
            setSelectOptions(categories);
          })
          .catch((error) => console.error(error));
      }

      //   Setting options in select tag from api response
      function setSelectOptions(categories) {
        let catArray = categories.results;
        for (let i = 0; i < catArray.length; i++) {
          let option = document.createElement("option");
          option.value = catArray[i].id;
          option.text = catArray[i].categoryName;
          document.getElementById("p_categ").append(option);
        }
      }
    </script>
    <!-- End -->

    <!-- Creating Fields for Item and Quantity -->
    <script>
      //cloning the item box
      let i = 0;
      function duplicate() {
        const original = document.getElementById(`item-box${i}`);
        let clone = original.cloneNode(true); // "deep" clone
        clone.id = "item-box" + ++i;
        original.parentNode.appendChild(clone);
        document.querySelector(`#${clone.id} #item_name`).value = "";
        document.querySelector(`#${clone.id} #item_qty`).value = "";
        i > 0 && document.querySelector(`#item-box${i - 1} button`).remove();
      }
    </script>
    <!-- End -->

    <!-- Submitting the Form to api -->
    <script>
      document
        .getElementById("submit_btn_form")
        .addEventListener("click", async function (e) {
          e.preventDefault();
          const productName = document.getElementById("p_name").value;
          var productDescription = CKEDITOR.instances.menu_content.getData();
          const category = document.getElementById("p_categ").value;
          const unitPrice = document.getElementById("p_unit_price").value;
          const discountPrice = document.getElementById("p_discount_price")
            .value;
          const unitsInStock = document.getElementById("p_unit_in_stock").value;
          const logo = document.getElementById("p_logo").files[0];
          const image = Array.from(document.getElementById("p_images").files);
          const variationName = document.getElementById("variation_name").value;
          const variationQty = document.getElementById("variation_qty").value;
          const item_name = document.getElementsByClassName("item_name");
          const item_qty = document.getElementsByClassName("item_qty");
          var error=0;
          if(productName==''){
            document.getElementById("prod_error").style.display = "block";
            error =1;
          }
          else if(productName!=''){
           document.getElementById("prod_error").style.display = "none";
          }
          if(productDescription==''){
            document.getElementById("prod_desc").style.display = "block";
             error =1;
          }
          else if(productDescription!=''){
           document.getElementById("prod_desc").style.display = "none";
          }
           if(unitPrice==''){
            document.getElementById("prod_unit_price").style.display = "block";
             error =1;
          }
          else if(unitPrice!=''){
           document.getElementById("prod_unit_price").style.display = "none";
          }
          if(discountPrice==''){
            document.getElementById("prod_disc_price").style.display = "block";
            error =1;
          }
          else if(discountPrice!=''){
           document.getElementById("prod_disc_price").style.display = "none";
          }
          if(unitsInStock==''){
            document.getElementById("prod_unit_num").style.display = "block";
             error =1;
          }
          else if(discountPrice!=''){
           document.getElementById("prod_unit_num").style.display = "none";
          }
          if(variationName==''){
            document.getElementById("prod_variation").style.display = "block";
             error =1;
          }
          else if(variationName!=''){
           document.getElementById("prod_unit_num").style.display = "none";
          }
          if(variationQty==''){
            document.getElementById("prod_variation_qty").style.display = "block";
             error =1;
          }
          else if(variationQty!=''){
           document.getElementById("prod_variation_qty").style.display = "none";
          }


          if(error==1){
           return false;
          }


          let material = [];
          let quantity = [];

          if (item_name.length > 0) {
            for (let i = 0; i < item_name.length; i++) {
              material.push(item_name[i].value);
            }
          }
          if (item_qty.length > 0) {
            for (let i = 0; i < item_qty.length; i++) {
              quantity.push(item_qty[i].value);
            }
          }

          const formData = new FormData();
          formData.append("variationName", variationName);
          formData.append("variationQty", variationQty);
          formData.append("productName", productName);
          formData.append("productDescription", productDescription);
          formData.append("category", category);
          formData.append("unitPrice", unitPrice);
          formData.append("discountPrice", discountPrice);
          formData.append("unitsInStock", unitsInStock);
          formData.append("logo", logo);
          formData.append("material", material);
          formData.append("quantity", quantity);

          formData.append('img_len', image.length);
          for (let i = 0; i < image.length; i++) {
            formData.append(`image-${i + 1}`, image[i]);
          }
          // Display the key/value pairs
          for (var pair of formData.entries()) {
            console.log(pair[0] + ", " + pair[1]);
          }

          await axios.post(
             "{% url "admin_new_product" %}",
             formData,
             { headers: { "Content-Type": "multipart/form-data" } }
          );
          window.location.replace("{% url 'admin_product' %}")
        });
    </script>
    <!-- End -->
  </body>
</html>
{% endblock %}

{% block script %}
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script type="text/javascript" src="{% static 'js/footer.js' %}"></script>
{% endblock script %}
