{% extends 'main/base.html' %}
{% load static %}

{% block style %}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #f8f8f8;
  }
  .error{
    color:red
  }
{% endblock style %}

{% block content %}
    <div class="container-fluid mt-5">
      <div class="card">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">{{title}}</h3>
        <div class="card-body">
             {% if messages %}
                {% for message in messages %}
                 <div class="alert {{ message.tags }} alert-dismissible fade show">
                      <strong>Success!</strong> {{ message }}
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                  </div>
                {% endfor %}
            {% endif %}
          <form id="product_form" action="{% url 'payment_config' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label class="form-label mr-4">Sandbox
              <input type="radio" value="0" name="api_config_type" checked></label>
              <label class="form-label">Production
              <input type="radio" value="1" name="api_config_type"></label>
            </div>

            <div class="mb-3">
              <label class="form-label">Api key <span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="api_key" required="required"/>
            </div>

            <div class="mb-3">
              <label class="form-label">Secret key <span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="secret_key" required="required"/>
            </div>
            <input type="submit" name="p_submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
{% endblock content %}
    <!-- Getting Product Category Data from api on page load -->
{% block script %}
<script type="text/javascript" src="{% static 'js/jquery.validate.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/footer.js' %}"></script>

{% endblock script %}
