{% extends 'main/base.html' %}
{% block content %}

<div class="container-fluid mt-5">
        <div class="row wow fadeIn">
          <div class="col-md-12 mb-4">
            <!--Card-->
            <div class="card">
              <!--Card content-->
              <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Client Management</h3>
              <div class="card-body">
                <!-- Table  -->
                <span class="table-add float-left mb-3 mr-2"><a href="{% url 'admin_new_coupons' %}" class="text-success"><button type="button" class="btn btn-primary waves-effect waves-light">Add New Coupon</button></a></span>
              </div>
            </div>
            <!--/.Card-->
          </div>
        </div>
    </div>

{% endblock %}

{% comment %} 
django.optimaldevelopments.com'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'dwight_material',
        'USER': 'root',
        'PASSWORD': 'Ht$5Fe@123',
        'HOST': 'localhost',
        'PORT': '3306',
        'OPTIONS': {
            'init_command': "SET sql_mode='STRICT_TRANS_TABLES'",
        },
    }
}  {% endcomment %}