{% extends 'main/base.html' %}
{% block content %}

<div class="container-fluid mt-5">
        <div class="row wow fadeIn">
          <div class="col-md-12 mb-4">
            <!--Card-->
            <div class="card">
              <!--Card content-->
              <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Comming Soon</h3>
              <div class="card-body">
                <!-- Table  -->
                <table class="table table-hover">
                  <!-- Table head
                  <thead class="blue-grey lighten-4">
                    <tr>
                      <th>#</th>
                      <th>Lorem</th>
                      <th>Ipsum</th>
                      <th>Dolor</th>
                    </tr>
                  </thead>
                   Table head
                   Table body
                  <tbody>
                  {% for i in order %}
                    <tr>
                      <th scope="row">{{i.productName}}</th>
                      <td>{{i.category.categoryName}}</td>
                      <td>{{i.unitsInStock}}</td>
                      <td>{{i.unitPrise}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  Table body

                  <!--
                </table>
                Table
                {% if order.has_other_pages %}
                  <ul class="pagination">
                    {% if order.has_previous %}
                      <li class="page-item"><a href="?page={{ order.previous_page_number }}"><span class="page-link">Previous</span></a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    {% endif %}

                    {% for i in order.paginator.page_range %}
                      {% if order.number == i %}
                        <li class="page-item active" aria-current="page">
                          <span class="page-link">
                            {{ i }}
                          </span>
                        </li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if order.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ order.next_page_number }}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <!--/.Card-->
          </div>
        </div>
    </div>

{% endblock %}