{% extends 'main/base.html' %}
{% block content %}

<div class="container-fluid mt-5">
    <div class="row wow fadeIn">
        <div class="col-md-12 mb-4">
            <!--Card-->
            <div class="card">
                <!--Card content-->
                <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Email Subscribers Report </h3>

                <div class="card-body">
                    {% for message in messages %}
                    <div class="alert alert-success">
                      <strong>{{ message }}</strong>
                    </div>
                    {% endfor %}
                    <!-- Table
                    <a href="#" class="btn btn-primary float-right" onclick="alert('Bulk/Mass Email Functionality in one go to all customer but oops this is under Development');">Send Bulk Email</a>
                    -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped text-center">
                            <!-- Table head -->
                            <thead class="blue-grey lighten-4">
                            <tr>
                                <th>S.no</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for i in email_subsc_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{i.email}}</td>
                                <td>
                                
                                    <span class="table-remove pl-2">
                            {% if request.user.role == "admin" %}
                                        <a href="javscript:void(0);" class="text-danger" title="Send Email to this User" onclick="alert('Do you want to send email to this individual user but oops this is under Development');"><i class="fa fa-paper-plane" aria-hidden="true"></i>.</i></a>
                            {% endif %}
                          </span>
                          <span class="table-remove">
                            {% if request.user.role == "admin" %}
                            <a href="{% url 'admin_delete_emailenq' id=i.id %}" class="text-danger" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash"></i></a>
                            {% endif %}
                          </span>

                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                            <!-- Table body -->
                        </table>
                        <!-- Table  -->
                    </div>

                    {% if menu_list.has_other_pages %}
                    <ul class="pagination">
                        {% if menu_list.has_previous %}
                        <li class="page-item"><a href="?page={{ menu_list.previous_page_number }}"><span
                                class="page-link">Previous</span></a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                        {% endif %}

                        {% for i in menu_list.paginator.page_range %}
                        {% if menu_list.number == i %}
                        <li class="page-item active" aria-current="page">
                          <span class="page-link">
                            {{ i }}
                          </span>
                        </li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if menu_list.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ menu_list.next_page_number }}">Next</a></li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <!--/.Card-->
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>

</script>
{% endblock %}