{% load static %}
<link href="{% static 'css/image.css' %}" rel="stylesheet">
<div class="wrapper">
  <header>
    <h1>Stock photo</h1>
    <span>ID: 5988014</span>
  </header>
  
  <div class="ways">
    <ul>
      <li class="active">
        submit
      </li>
      <li>
        discussion
      </li>
    </ul>
  </div>
  
  <div class="sections">
    
    <section class="active">
      <input type="text" placeholder="Title" id="title"/>
      <select id="category">
        <option value="summmer">summer</option>
        <option value="winter">winter</option>
        <option value="working">working</option>
        <option value="road">road</option>
      </select>
      
      <div class="select-option">
        <div class="head">Category</div>
        <div class="option"></div>
      </div>
      
      
      <div class="images">
        <div class="pic">
          add
        </div>
      </div>
      
      
    </section>

    <section>
      <input type="text" placeholder="Topic" id="topic"/>
      <textarea placeholder="something..." id="msg"></textarea>
    </section>
  
  </div>
  
  <footer>
    <ul>
      <li><span id="reset">reset</span></li>
      <li><span id="send">send</span></li>
    </ul>
  </footer> 
  
</div>
<div class="notification"></div>
<footer>
  Inspiration: <a href="https://dribbble.com/shots/2092775-Create-a-new-collection"><i class="fa fa-dribbble" aria-hidden="true"></i>dribbble</a>
</footer>

<script type="text/javascript" src="{% static 'js/image.js' %}"></script>