{% extends 'main/base.html' %}
{% block content %}

<div class="container-fluid mt-5">
        <div class="row wow fadeIn">
          <div class="col-md-12 mb-4">
            <!--Card-->
            <div class="card">
              <!--Card content-->
              <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Logo Management</h3>
              
                <div class="card-body">
                  {% if messages %}
                    {% for message in messages %}
                   <div class="alert alert-success alert-dismissible fade show">
                        <strong>Success!</strong> {{ message }}
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                    {% endfor %}
                {% endif %}

                <!-- Table  -->
                <a href="{% url 'admin_new_logo' %}" class="btn btn-primary float-right">Add New Logo</a>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                  <!-- Table head -->
                  <thead class="blue-grey lighten-4">
                    <tr>
                      <th>S.no</th>
                      <th>Title</th>
                      <th>Logo</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <!-- Table head -->

                  <!-- Table body -->
                  <tbody>
                  {% for i in logo_list %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{i.title}}</td>
                      <td><img width="50" height="50" src='/media/{{i.logo}}'/></td>
                      <td>{% if i.is_active %} Active {% else %} Inactive {% endif %}</td>
                      <td>
<!--                          <span class="table-remove">-->
<!--                            <a href="{% url 'admin_edit_product' id=i.id %}"><button type="button" class="btn btn-primary btn-sm my-0 edit waves-effect waves-light" >VIEW</button></a>-->
<!--                          </span>-->
                          <span class="table-remove">
                            {% if request.user.role == "admin" %}
                            <a href="{% url 'admin_edit_logo' id=i.id %}" class="text-primary"><i class="fa fa-edit"></i></a>
                            {% endif %}
                          </span>
                          <span class="table-remove">
                            {% if request.user.role == "admin" %}
                            <a href="{% url 'admin_delete_logo' id=i.id %}" class="text-danger" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash"></i></a>
                            {% endif %}
                          </span>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <!-- Table body -->
                </table>
                <!-- Table  -->
                {% if logo_list.has_other_pages %}
                  <ul class="pagination">
                    {% if logo_list.has_previous %}
                      <li class="page-item"><a href="?page={{ logo_list.previous_page_number }}"><span class="page-link">Previous</span></a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    {% endif %}

                    {% for i in logo_list.paginator.page_range %}
                      {% if ologo_listrder.number == i %}
                        <li class="page-item active" aria-current="page">
                          <span class="page-link">
                            {{ i }}
                          </span>
                        </li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if logo_list.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ logo_list.next_page_number }}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <!--/.Card-->
          </div>
        </div>
    </div>

{% endblock %}