{% extends 'main/base.html' %}
{% block content %}
<div class="container-fluid mt-5">
      <div class="row wow fadeIn">
                <div class="col-md-12 mb-4">
                    <div class="card mt-5 hoverable">
                        <div class="table-responsive">

                    <table class="table product-table" style="width:93%; margin-left: 3%;">

                        <!-- Table head -->
                        <thead>
                        <tr>
                            <th></th>
                            <th class="font-weight-bold">
                            <strong>Product</strong>
                            </th>
                            <th class="font-weight-bold">
                            <strong>Variation</strong>
                            </th>
                            <th></th>
                            <th class="font-weight-bold">
                            <strong>QTY</strong>
                            </th>
                            <th class="font-weight-bold">
                            <strong>Price</strong>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <!-- /.Table head -->

                        <!-- Table body -->
                        <tbody>

                        <!-- First row -->
                        {% for o in order.items.all %}
                        <tr>
                            <th scope="row">
                            <img src='/media/{{o.item.logo}}' alt="" width="100" height="100" class="img-fluid z-depth-0">
                            </th>
                            <td>
                            <h5 class="mt-3">
                                <strong>{{o.item.productName}}</strong>
                            </h5>
                            </td>
                            <td>
                            {% for i in o.item_variations.all %}
                                    <strong>{{i.variation}}:</strong>
                                    {{i.value}}<br>
                                {% endfor %}
                            </td>
                            <td></td>
                            <td class="text-center text-md-left">
                            <span class="qty">{{o.quantity}} </span>
                            </td>
                            <td class="font-weight-bold">
                            <strong>{{o.item.unitPrise}} Per/Unit</strong>
                            </td>
                            <td>
                            
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- /.First row -->
                        <tr>
                            <td colspan="3"></td>
                            <td colspan="3" class="text-right">
                            
                            </td>
                            <td>
                            <h4 class="mt-2">
                                <strong>Total:</strong>
                                <strong>{{order.get_total}}</strong>
                            </h4>
                            </td>
                            <td class="text-right">
                            </td>
                            
                        </tr>
                        </tbody>
                        <!-- /.Table body -->

                    </table>
                    <div class="accordion" id="accordionExample">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              <strong><h6>Shiping Details</h6></strong>
                            </button>
                          </h2>
                        </div>
                        
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body" style="margin-left: 5%;">
                            <strong>Street Address: </strong>{{order.shipping_address.street_address}},<br>
                            <strong>Apartment Address: </strong>{{order.shipping_address.apartment_address}},<br>
                            <strong>Zip: </strong>{{order.shipping_address.zip}}
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <strong><h6>Payment Details</h6></strong>
                            </button>
                          </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                          <div class="card-body" style="margin-left: 5%;">
                            <strong>Payment ID: </strong> {{order.payment.stripe_charge_id}},<br>
                            <strong>TimesTamp: </strong> {{order.payment.timestamp}}
                          </div>
                        </div>
                      </div>
                      
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

{% endblock %}