{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid mt-5">
      <div class="row wow fadeIn">
        <div class="col-md-12 mb-4">
          <!--Card-->
          <div class="card">
              <!--Card content-->
              <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Order Management</h3>
              <div class="card-body">
                <!-- Table  -->
                <div class="row">
                  <div class="col-10">
                    <form method="GET" action="{% url 'admin_ordersearch' %}" >
                    <span class="table-add float-left mb-3 mr-2">
                    <div class="input-group rounded">
                      <input type="search" class="form-control rounded" placeholder="Search" name="search" aria-label="Search"
                      aria-describedby="search-addon" />
                    </div>
                    </span>
                    </form>
                  </div>
                  <div class="col-2">

                  </div>
                </div>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                  <!-- Table head -->
                  <thead class="blue-grey lighten-4">
                    <tr>
                      <th>Order ID</th>
                      <th>User Name</th>
                      <th>Ordered Date</th>
                      <th>Payment</th>
                      <th>Action</th>
                      <th></th>
                    </tr>
                  </thead>
                  <!-- Table head -->

                  <!-- Table body -->
                  <tbody>
                  {% for i in order %}
                    <tr>
                      <th scope="row">{{i.id}}</th>
                      <th scope="row">{{i.user}}</th>
                      <td>{{i.ordered_date}}</td>
                      <td>{{i.payment.amount}}</td>
                      <td>
                          <span class="table-remove">
                              <a href="{% url 'admin_orders_details' id=i.id %}" class="text-primary"><i class="fa fa-eye" ></i> </a>
                            </span>&nbsp;
                            <span class="table-remove">
                              <a href="{% url 'admin_edit_product' id=i.id %}" class="text-primary"><i class="fa fa-edit" ></i> </a>
                            </span>&nbsp;
                            <span class="table-remove">
                              <a href="{% url 'admin_delete_product' id=i.id %}" class="text-danger"><i class="fa fa-trash"></i> </a>
                            </span>&nbsp;
                          <span>
                          <a href="{% static 'invoice.png' %}" download class="text-info"><i class="fas fa-file-invoice"></i> </a>
                        </span>&nbsp;
                      </td>
                      <td><input type="text" name="tracking_id" id="tracking_id" placeholder="Tracking Id" value="{{ i.tracking_id }}">&nbsp;
                        <button id="tracking_btn" data-url="{% url 'admin_order_tracking' pk=i.id %}" class="btn btn-sm btn-info">Save</button>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <!-- Table body -->
                </table>
                <!-- Table  -->
                {% if order.has_other_pages %}
                  <ul class="pagination">
                    {% if order.has_previous %}
                      <li class="page-item"><a href="?page={{ order.previous_page_number }}"><span class="page-link">Previous</span></a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    {% endif %}

                    {% for i in order.paginator.page_range %}
                      {% if order.number == i %}
                        <li class="page-item active" aria-current="page">
                          <span class="page-link">
                            {{ i }}
                          </span>
                        </li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if order.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ order.next_page_number }}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
              </div>
            </div>
          <!--/.Card-->

        </div>
      </div>
    </div>

{% endblock %}
{% block script %}
<script>
  $('#tracking_btn').click(function() {
    var tracking_id = $('#tracking_id').val();
    var url = $(this).data('url');
    $.ajax({
      url: url,
      data: {tracking_id},
      method: 'POST',
      success: function(res) {
        if(res.status) {
          location.reload();
        }
      }
    })
  })
</script>
{% endblock %}