{% extends 'main/base.html' %}
{% block content %}

<div class="container-fluid mt-5">
        <div class="row wow fadeIn">
          <div class="col-md-12 mb-4">
            <!--Card-->
            <div class="card">
              <!--Card content-->

              <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Coupon Management</h3>
              <div class="card-body">
                <!-- Table  -->
                <form method="GET" action="{% url 'admin_paymentsearch' %}" >
                <span class="table-add float-left mb-3 mr-2">
                <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search" name="search" aria-label="Search"
                  aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                  <i class="fas fa-search"></i>
                </span>
                </from>
              </div>

                </span>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                  <!-- Table head -->
                  <thead class="blue-grey lighten-4">
                    <tr>
                      <th>Payment ID</th>
                      <th>User</th>
                      <th>Amount</th>
                      <th>TimeStamp</th>
                    </tr>
                  </thead>
                  <!-- Table head -->

                  <!-- Table body -->
                  <tbody>
                  {% for i in order %}
                    <tr>
                      <th scope="row">{{i.stripe_charge_id}}</th>
                      <td>{{i.user}}</td>
                      <td>{{i.amount}}</td>
                      <td>{{i.timestamp}}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <!-- Table body -->
                </table>
                <!-- Table  -->
                {% if order.has_other_pages %}
                  <ul class="pagination">
                    {% if order.has_previous %}
                      <li class="page-item"><a href="?page={{ order.previous_page_number }}"><span class="page-link">Previous</span></a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    {% endif %}

                    {% for i in order.paginator.page_range %}
                      {% if order.number == i %}
                        <li class="page-item active" aria-current="page">
                          <span class="page-link">
                            {{ i }}
                          </span>
                        </li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if order.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ order.next_page_number }}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <!--/.Card-->
          </div>
        </div>
    </div>

{% endblock %}