{% extends 'main/base.html' %}
{% block content %}

<div class="container-fluid mt-5">
        <div class="row wow fadeIn">
            <div class="col-md-12 mb-4">
                <div class="card">
                  <!--Card content-->
                    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Slider Management</h3>
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                           <div class="alert alert-success alert-dismissible fade show">
                                <strong>Success!</strong> {{ message }}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                            {% endfor %}
                        {% endif %}
                      <!-- Table  -->
                      <a href="{% url 'admin_new_slider' %}" class="btn btn-primary float-right">
                          Add New Slider
                      </a>


                      <table class="table table-bordered table-responsive-md table-striped text-center">
                        <!-- Table head -->
                        <thead class="blue-grey lighten-4">
                          <tr>
                            <th>Slider Image</th>
                            <th>Slider Title</th>
                            <th>Slider Link</th>
                            <th>Slider Description</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <!-- Table head -->

                        <!-- Table body -->
                        <tbody>
                        {% for i in slider %}
                          <tr>
                            <td><img width="50" height="50" src='/media/{{i.image}}'/></td>
                            <th scope="row">{{i.title}}</th>
                            <th>{{i.link}}</th>
                            <td title="{{i.description|safe}}">{{i.description|safe|truncatechars:50 }}</td>
                            <td>
                                <span class="table-remove">
                                  <a href="{% url 'admin_edit_slider' id=i.id %}" class="text-primary"><i class="fa fa-edit"></i></a>
                                </span>
                                <span class="table-remove">
                                  <a href="{% url 'admin_delete_slider' id=i.id %}" class="text-danger" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash"></i></a>
                                </span>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                        <!-- Table body -->
                      </table>
                      <!-- Table  -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}