{% extends 'main/base.html' %}
{% block content %}

<div class="container-fluid mt-5">
        <div class="row wow fadeIn">
          <div class="col-md-12 mb-4">
            <!--Card-->
            <div class="card">
              <!--Card content-->
              <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Variations Management</h3>
              <div class="card-body">
                <!-- Table  -->
                <span class="table-add float-left mb-3 mr-2"><a href="{% url 'admin_new_category' %}" class="text-success"><button type="button" class="btn btn-primary waves-effect waves-light">Add New Variations</button></a></span>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                  <!-- Table head -->
                  <thead class="blue-grey lighten-4">
                    <tr>
                      <th>Item</th>
                      <th>Variation Name</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <!-- Table head -->

                  <!-- Table body -->
                  <tbody>
                  {% for i in order %}
                    <tr>
                      <td>{{i.item}}</td>
                      <th scope="row">{{i.name}}</th>
                      <td>
                          <span class="table-remove">
                            <a href="{% url 'admin_edit_category' id=i.id %}" class="text-primary"><i class="fa fa-edit"></i></a>
                          </span>
                          <span class="table-remove">
                            <a href="{% url 'admin_delete_category' id=i.id %}" class="text-danger" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash"></i></a>
                          </span>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <!-- Table body -->
                </table>
                <!-- Table  -->
                {% if order.has_other_pages %}
                  <ul class="pagination">
                    {% if order.has_previous %}
                      <li class="page-item"><a href="?page={{ order.previous_page_number }}"><span class="page-link">Previous</span></a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    {% endif %}

                    {% for i in order.paginator.page_range %}
                      {% if order.number == i %}
                        <li class="page-item active" aria-current="page">
                          <span class="page-link">
                            {{ i }}
                          </span>
                        </li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if order.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ order.next_page_number }}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <!--/.Card-->
          </div>
        </div>
    </div>

{% endblock %}