{% extends 'main/base.html' %}
{% block content %}

<div class="container-fluid mt-5">
        <div class="row wow fadeIn">
          <div class="col-md-12 mb-4">
            <!--Card-->
            <div class="card">
              <!--Card content-->
              <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Website Management</h3>
              <div class="card-body">
                <!-- Table  -->
                <div class="card">
                  <!--Card content-->
                    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Home Management</h3>
                    <div class="card-body">
                      <!-- Table  -->
                      <table class="table table-bordered table-responsive-md table-striped text-center">
                        <!-- Table head -->
                        <thead class="blue-grey lighten-4">
                          <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Slider Image</th>
                            <th>Slider Image</th>
                            <th>Slider Image</th>
                            <th>Service Heading</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <!-- Table head -->

                        <!-- Table body -->
                        <tbody>
                        {% for i in home %}
                          <tr>
                            <th scope="row">{{i.title}}</th>
                            <td>{{i.service_description}}</td>
                            <td><img width="50" height="50" src='/media/{{i.slider_image1}}'/></td>
                            <td><img width="50" height="50" src='/media/{{i.slider_image2}}'/></td>
                            <td><img width="50" height="50" src='/media/{{i.slider_image3}}'/></td>
                            <th scope="row">{{i.service_heading}}</th>
                            
                            <td>
                                <span class="table-remove">
                                  <a href="{% url 'admin_home_configuration_edit' id=i.id %}"><button type="button" class="btn btn-success btn-sm my-0 edit waves-effect waves-light" >EDIT</button></a>
                                </span>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                        <!-- Table body -->
                      </table>
                      <!-- Table  -->
                    </div>
                </div>

                <div class="card">
                  <!--Card content-->
                    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Service Management</h3>
                    <div class="card-body">
                      <!-- Table  -->
                      <span class="table-add float-left mb-3 mr-2"><a href="{% url 'admin_new_service' %}" class="text-success"><button type="button" class="btn btn-primary waves-effect waves-light">Add New Service</button></a></span>
                      <table class="table table-bordered table-responsive-md table-striped text-center">
                        <!-- Table head -->
                        <thead class="blue-grey lighten-4">
                          <tr>
                            <th>Service Image</th>
                            <th>Service Name</th>
                            <th>Service Description</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <!-- Table head -->

                        <!-- Table body -->
                        <tbody>
                        {% for i in order %}
                          <tr>
                            <td><img width="50" height="50" src='/media/{{i.image}}'/></td>
                            <th scope="row">{{i.service_name}}</th>
                            <td>{{i.service_description}}</td>
                            <td>
                                <span class="table-remove">
                                  <a href="{% url 'admin_edit_service' id=i.id %}"><button type="button" class="btn btn-success btn-sm my-0 edit waves-effect waves-light" >EDIT</button></a>
                                </span>
                                <span class="table-remove">
                                  <a href="{% url 'admin_delete_service' id=i.id %}"><button type="button" class="btn btn-danger btn-sm my- delete waves-effect waves-light">DELETE</button></a>
                                </span>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                        <!-- Table body -->
                      </table>
                      <!-- Table  -->
                    </div>
                </div>
            </div>
              </div>
            </div>
            <!--/.Card-->
          </div>
        </div>
    </div>

{% endblock %}