{% extends 'main/base.html' %}
{% block content %}

<div class="container-fluid mt-5">
        <div class="row wow fadeIn">
          <div class="col-md-12 mb-4">
            <!--Card-->
            <div class="card">
              <!--Card content-->
              <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Products Management</h3>
              
              <div class="card-body">
                <!-- Table  -->
                <div class="row">
                  <div class="col-10">
                    <form method="GET" action="{% url 'admin_itemsearch' %}" >
                    <span class="table-add float-left mb-3 mr-2">
                    <div class="input-group rounded">
                      <input type="search" class="form-control rounded" placeholder="Search" name="search" aria-label="Search"
                      aria-describedby="search-addon" />
                    </div>
                    </span>
                    </from>
                  </div>
                  <div class="col-2">
                  <span class="table-add float-left mb-3 mr-2"><a href="{% url 'admin_new_product' %}" class="text-success"><button type="button" class="btn btn-primary waves-effect waves-light">Add New Product</button></a></span>
                  </div>
                </div>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                  <!-- Table head -->
                  <thead class="blue-grey lighten-4">
                    <tr>
                      <th>Product Image</th>
                      <th>Product Name</th>
                      <th>Product Category</th>
                      <th>Units in Stock</th>
                      <th>Price</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <!-- Table head -->

                  <!-- Table body -->
                  <tbody>
                  {% for i in order %}
                    <tr>
                      <td><img width="50" height="50" src='/media/{{i.logo}}'/></td>
                      <th scope="row">{{i.productName}}</th>
                      <td>{{i.category.categoryName}}</td>
                      <td>{{i.unitsInStock}}</td>
                      <td>{{i.unitPrise}}</td>
                      <td>
                          <span class="table-remove">
                            <a href="{% url 'admin_edit_product' id=i.id %}"><button type="button" class="btn btn-success btn-sm my-0 edit waves-effect waves-light" >EDIT</button></a>
                          </span>
                          <span class="table-remove">
                            <a href="{% url 'admin_delete_product' id=i.id %}"><button type="button" class="btn btn-danger btn-sm my- delete waves-effect waves-light">DELETE</button></a>
                          </span>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <!-- Table body -->
                </table>
                <!-- Table  -->
                {% if order.has_other_pages %}
                  <ul class="pagination">
                    {% if order.has_previous %}
                      <li class="page-item"><a href="?page={{ order.previous_page_number }}"><span class="page-link">Previous</span></a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    {% endif %}

                    {% for i in order.paginator.page_range %}
                      {% if order.number == i %}
                        <li class="page-item active" aria-current="page">
                          <span class="page-link">
                            {{ i }}
                          </span>
                        </li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if order.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ order.next_page_number }}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <!--/.Card-->
          </div>
        </div>
    </div>

{% endblock %}