{% extends 'main/base.html' %}
{% load static %}
{% block style %}
.error {
color: #ff0000;
}
{% endblock style %}
{% block content %}
<div class="container-sm mt-5" style="padding: 1em">
    <div class="card">
        <div class="card-header text-center"><h4>{{title}}</h4></div>
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <p class="text-danger">{{message }}</p>
        {% else %}
            <p class="text-success">{{message }}</p>
        {% endif %}
        {% endfor %}
        <div class="card-body">
            <form method="post" action="{% url 'admin_new_material' %}" id="material_form" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="form-group">
                    <label for="material_name">Material Name <span class="text-danger">*</span> </label>
                    <input type="text" class="form-control" name="material_name" id="material_name" value="{{material_obj.material_name }}">
                    <input type="hidden" name="material_id"  value="{{material_obj.id }}">
                </div>

                <input type="submit" class="btn btn-success" name="submit">
                <a href="{% url 'admin_material' %}" class="btn btn-primary">Back</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'js/jquery.validate.min.js'%}"></script>
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script type="text/javascript" src="{% static 'js/footer.js' %}"></script>
{% endblock script %}