{% extends "main/base.html" %}
{% block content %}

<div class="container-fluid mt-5">
<!--Grid row-->
    <div class="row wow fadeIn">
    <!--Grid column-->
        <div class="col-md-12 mb-4">
        <!--Card-->
            <div class="card mb-4 wow fadeIn">
                <h3 class="card-header text-center font-weight-bold text-uppercase py-4">New Product</h3>

            <!--Card content-->
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'inside/inside_form.html' with form=form %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
