{% extends 'main/base.html' %}
{% load static %}

{% block style %}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #f8f8f8;
  }
  .error{
    color:red
  }
{% endblock style %}

{% block content %}
    <div class="container-fluid mt-5">
      <div class="card">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">{{title}}</h3>
        <div class="card-body">
          <form id="product_form" action="{% url 'create_product' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="p_name" class="form-label">Product Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="p_name" name="p_name" value="{{ prod.name }}"/>
            </div>
            <div class="mb-3">
              <label for="menu_content" class="form-label">Product Description <span class="text-danger">*</span></label>
              <textarea name="p_description" id="menu_content">{{ prod.description }}</textarea>
            </div>
            <div class="mb-3">
              <label for="p_categ1" class="form-label">Category <span class="text-danger">*</span></label>
              <select name="p_categ"
                class="form-select-lg form-control"
                id="p_categ1"
                aria-label="Default select example"
               required="required" >
                <option value="">-- Select Category --</option>
                {% for cat in cat_obj %}
                <option value="{{cat.id}}" {% if cat.id == prod.category.id %} selected {% endif %}>{{cat.categoryName}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="mb-3">
              <label for="p_unit_price" class="form-label">Unit Price</label>
              <input type="number" min="0" class="form-control" value="{{ prod.unitPrice }}" name="p_unit_price" id="p_unit_price"/>
            </div>

            <div class="mb-3">
              <label for="p_discount_price"
                >Discount Price</label>
              <input type="number" min="0" class="form-control" value="{{ prod.discountPrice }}" name="p_discount_price" id="p_discount_price"/>
            </div>

            <div class="mb-3">
              <label for="p_unit_in_stock"
                >Unit in stock <span class="text-danger">*</span></label
              >
              <input type="number" min="0" class="form-control" value="{{ prod.unitsInStock }}" name="p_unit_in_stock" id="p_unit_in_stock"/>
              <input type="hidden" value="{{ prod.id }}" name="prod_id" id="prod_id"/>
            </div>

            <div class="mb-3">
              <label for="p_logo" class="form-label">Main Image <span class="text-danger">*</span></label>
              <input class="form-control" type="file" name="p_logo" id="p_logo" accept=".jpg, .jpeg, .png, .gif"/>
              {% if prod.id and prod.logo %}<span>Main Image: Currently:</span>
                <a href="{{ prod.logo.url }}" target="_blank">{{ prod.logo }}</a>
              {% endif %}
            </div>

            <div class="mb-3">
              <label for="p_images" class="form-label">Other Images</label>
              <input class="form-control" type="file" name="p_images[]" id="p_images" multiple accept=".jpg, .jpeg, .png, .gif"/>
              {% if prod.id %}<span>Other Images: Currently:</span>
                {% for img in prod.product_productimagess.all %}
                {% if img.image %}
                <a href="{{ img.image.url }}" target="_blank">{{ img.image }}</a>
                <a href="javascript:void(0)" class="mx-2 text-danger delete_image" data-id="{{ img.id }}" data-type="optional"
                                                                                         onclick="return confirm('Are you sure you want to delete this item?');">&times;</a>
                {% endif %}
              {% endfor %}
              {% endif %}
            </div>

            <div class="mb-3">
              <label for="p_images" class="form-label mr-4">IS SHOP
                <input class="" type="checkbox" name="is_shop" value="1" {% if prod.is_shop %} checked {% endif %} id="is_shop"/>
              </label>
              <label for="p_images" class="form-label ml-4">IS ENQUIRY
                <input class="" type="checkbox" name="is_enquiry" value="1" {% if prod.is_enquiry %} checked {% endif %} id="is_enquiry"/>
              </label>
            </div>

             <div id="enquiry_section" style="display:  {% if prod.is_enquiry %} block {% else %} none {% endif %}">
              <label for="enquiry_text">Enquiry Text</label>
              <input type="text" name="enquiry_text" id="enquiry_text" class="form-control mb-3" value="{% if prod.enquiry_text %}{{ prod.enquiry_text }}{% endif %}">
            </div>

<!--            <div class="mb-3">-->
<!--              <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                  <label for="variation_name">Variation Name</label>-->
<!--                  <input type="text" id="variation_name" class="form-control" required/>-->
<!--                   <label id="prod_variation" class="error" for="prod_variation">Please enter variation </label>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                  <label for="variation_qty">Variation Quantity</label>-->
<!--                  <input type="text" id="variation_qty" class="form-control" required/>-->
<!--                  <label id="prod_variation_qty" class="error" for="prod_variation_qty">Please enter variation quantity </label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
            <div class="mb-3">
              <div class="row">
                 <div class="col-md-6">
                   <label for="variation_avail" class="form-label">Variation Available (Yes/No){{prod.variation_stat}}</label>
                    <p class="onoff ml-3"><input type="checkbox" value="1" id="variation_avail" name="variation_avail" {% if prod.variation_stat %} checked {% endif %}><label for="variation_avail"></label></p>
                 </div>
              </div>
            </div>

            <div class="mb-3 field_wrapper">
              {% for item in variation_item_list %}
              <input type="hidden" name="item_id[]" value="{{ item.id }}">
               <div class="row mb-3">
                  <div class="col-md-3">
                    <select class="form-control p_material" name="p_material[]" required>
                      <option value="">---- Select Material ----</option>
                      {% for material in material_obj %}
                        <option value="{{ material.id }}" {% if material.id == item.material.id %} selected {% endif %}>{{ material.material_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-3">
                    <select class="form-control" name="p_size[]" required>
                      <option value="">---- Select Size ----</option>
                      {% for size in size_obj %}
                        <option value="{{ size.id }}"  {% if size.id == item.size.id %} selected {% endif %}>{{ size.size_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                 <div class="col-md-2">
                    <input type="number" min="1" placeholder="Variant Stock" name="variant_Stock[]"
                             class="form-control variant_Stock" value="{{ item.variant_Stock}}" required>
                  </div>
                  <div class="col-md-2">
                    <input type="number" min="1" placeholder="Enter price" name="p_price[]"
                             class="form-control p_price" value="{{ item.price}}" required>
                  </div>
                  <div class="col-md-2">
                    <label for="" class="mr-4">
                      <input type="radio" value="0" name="p_default" {% if item.default_material %} checked {% endif %}> Default</label>
                      {% if forloop.counter == 1 %}
                      <a href="javascript:void(0);" class="add_button" title="Add field">
                          <i class="fa fa-plus-circle"></i>
                      </a>
                    {% else %}
                    <a href="javascript:void(0);" class="remove_button text-danger" title="Add field"><i class="fa fa-minus-circle"></i></a>
                    {% endif %}
                  </div>
              </div>
              {% empty %}
              <div class="row ">
                  <div class="col-md-3">
                    <input type="hidden" name="item_id[]" value="0">
                    <select class="form-control p_material" name="p_material[]" required>
                      <option value="">---- Select Material ----</option>
                      {% for material in material_obj %}
                        <option value="{{ material.id }}">{{ material.material_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-3">
                    <select class="form-control" name="p_size[]" required>
                      <option value="">---- Select Size ----</option>
                      {% for size in size_obj %}
                        <option value="{{ size.id }}">{{ size.size_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-2">
                    <input type="number" min="1" placeholder="Variant Stock" name="variant_Stock[]"
                             class="form-control variant_Stock" value="{{ item.variant_Stock}}" required>
                  </div>
                  <div class="col-md-2">
                    <input type="number" min="1" placeholder="Enter price" name="p_price[]" id="p_price_0"
                             class="form-control p_price" required>
                  </div>
                  <div class="col-md-2">
                    <label for="" class="mr-4">
                      <input type="radio" value="0" name="p_default"> Default</label>
                      <a href="javascript:void(0);" class="add_button" title="Add field">
                          <i class="fa fa-plus-circle"></i>
                      </a>
                  </div>
              </div>
              {% endfor %}
            </div>
            <input type="submit" name="p_submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
{% endblock content %}
    <!-- Getting Product Category Data from api on page load -->
{% block script %}
<script type="text/javascript" src="{% static 'js/jquery.validate.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/footer.js' %}"></script>
<script>
$('.delete_image').click(function(){
    var id = $(this).data('id');
    var data_type = $(this).data('type');
    $.ajax({
        url: '/admin/products_image_del/',
        method: 'GET',
        data: {id, data_type},
        success: function(res) {
            if(res.status) {
                location.reload();
            }
        }
    })
})
</script>
{% endblock script %}
