{% extends 'main/base.html' %}
{% block content %}

<div class="container-fluid mt-5">
        <div class="row wow fadeIn">
          <div class="col-md-12 mb-4">
            <!--Card-->
            <div class="card">
              <!--Card content-->
              <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Products Management</h3>
              
              <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                     <div class="alert {{ message.tags }} alert-dismissible fade show">
                          <strong>Success!</strong> {{ message }}
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                      </div>
                    {% endfor %}
                {% endif %}
                <!-- Table  -->
                <div class="row">
                  <div class="col-8">
                    <form method="GET" action="{% url 'admin_itemsearch' %}" >
                    <span class="table-add float-left mb-3 mr-2">
                    <div class="input-group rounded">
                      <input type="search" class="form-control rounded" placeholder="Search" name="search" aria-label="Search"
                      aria-describedby="search-addon" />
                    </div>
                    </span>
                    </form>
                  </div>
                  {% if request.user.role == "admin" %}
                  <div class="col-4">
                    <a href="{% url 'create_product' %}" class="btn btn-primary float-right">Add New Product</a>
                  </div>
                   {% endif %}
                </div>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                  <!-- Table head -->
                  <thead class="blue-grey lighten-4">
                    <tr>
                      <th>Product Images</th>
                      <th>Product Name</th>
                      <th>Product Category</th>
                      <th>Units in Stock</th>
                      <th>Price</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <!-- Table head -->

                  <!-- Table body -->
                  <tbody>
                  {% for i in order %}
                    <tr>
                      <td><img width="50" height="50" src='{% if i.logo %}{{i.logo.url}}{% endif %}'/></td>
                      <th scope="row">{{i.name}}</th>
                      <td>{{i.category.categoryName}}</td>
                      <td>{{i.unitsInStock}}</td>
                      <td>{% if i.unitPrice %}{{i.unitPrice}}{% endif %}</td>
                      <td>

                          <span class="table-remove">
                            {% if request.user.role == "admin" %}
                              <a href="{% url 'edit_product' pk=i.id %}" class="text-primary"><i class="fa fa-edit"></i></a>
                            {% endif %}
                          </span>
                          <span class="table-remove">
                            {% if request.user.role == "admin" %}
                            <a href="{% url 'delete_product' pk=i.id %}" class="text-danger" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash"></i></a>
                            {% endif %}
                          </span>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <!-- Table body -->
                </table>
                <!-- Table  -->
                {% if order.has_other_pages %}
                  <ul class="pagination">
                    {% if order.has_previous %}
                      <li class="page-item"><a href="?page={{ order.previous_page_number }}"><span class="page-link">Previous</span></a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    {% endif %}

                    {% for i in order.paginator.page_range %}
                      {% if order.number == i %}
                        <li class="page-item active" aria-current="page">
                          <span class="page-link">
                            {{ i }}
                          </span>
                        </li>
                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if order.has_next %}
                      <li class="page-item"><a class="page-link" href="?page={{ order.next_page_number }}">Next</a></li>
                    {% else %}
                      <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <!--/.Card-->
          </div>
        </div>
    </div>

{% endblock %}